/*
Key notes:
- CSS for desktop, with @media on max-width: 460px to adjust for mobile
- Variable font files for Avenir and Inter loaded
- Variables used for color
- Variable used for paragraph font size.
  - Font weights: 400, 600, 700
  - Other font-sizes based on that with calc()
- Hover/focus state requirements
  - black hand pointer
  - background in lime 
  - text in black
- Features page option to switch between template (Jessica) style and personal (Alexander) style


Testing:
- desktop variant: 1440px,  mobile variant: 375px (but test 320px -  extra large)
- Hover and focus states checked
*/


/* set variables */
:root {
  /* for template design */
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);  
  --color-grey700: hsl(0, 0%, 20%);
  --color-grey800: hsl(0, 0%, 12%);
  --color-grey900: hsl(0, 0%, 8%);
  --font-paragraph: 0.875rem; /* based on the spec specifying 14px */

  /* for alternate design */
  --color-toyotaRed: #EB0A1E;
  --color-toyotaOffWhite: #f6f6f6;
  --color-toyotaLightGrey: #d8d8d8;
  --color-toyotaDarkGrey: #58595b;
}


/* load variable fonts */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype-variations");
  font-weight: 400, 600, 700;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("/assets/Toyota-Font/avenirltstd-black.otf") format("opentype-variations");
  font-display: swap;
}


/* Apply reset (tbc after deciding what to include) */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;

  /* debugging 
  border: 1px solid yellow; */
}


/* Start styling with body and main elements */

body {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-grey900);
  font-family: Inter;
  font-size: var(--font-paragraph);
  text-align: center;
}


/* style a checkbox as a page option to toggle between default and alternative design */
.options {
  padding: 1rem;
}

.options__description {
  color: var(--color-white);
  font-size: calc(0.8 * var(--font-paragraph));
}


/* start styling with the frame of the main component. This will be the BEM block. */
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 2rem;
  background-color: var(--color-grey800);
  border-radius: 1rem;
}


/* next style the profile info; headshot image, name, location and bio */
.frame__headshot {
  border-radius: 50%;
}

.frame__name {
  color: var(--color-white);
  font-size: calc(1.5 * var(--font-paragraph));
  margin: 2rem 0 -0.5rem 0;;
}

.frame__location {
  color: var(--color-green);
  font-size: var(--font-paragraph);
}

.frame__bio {
  color: var(--color-white);
  font-size: var(--font-paragraph);
  padding: 0 1.5rem;
  font-weight: 400;
}


/* and for the last part of the frame, style the social links as a list */
.frame__links-list {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.frame__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0.5rem 0;
  padding: 0.9rem;
  border-radius: 0.5rem;
  background-color: var(--color-grey700);
  color: var(--color-white);
  text-decoration: none;
  font-weight: 700;
}

.frame__link:hover {
  background-color: var(--color-green);
  color: var(--color-grey900);
  cursor: pointer;
}

.frame__link-item:last-of-type {
  margin-bottom: 0;
}


/* alternate styles to switch to when checkbox is clicked */

.options__description--alt {
  color: var(--color-toyotaDarkGrey);
}

.body--alt {
  background-color: var(--color-toyotaOffWhite);
  font-family: Avenir;
}

.frame--alt {
  background-color: var(--color-white);
}

.frame__name--alt {
  color: var(--color-toyotaRed);
}

.frame__location--alt {
  color: var(--color-toyotaDarkGrey);
  font-weight: 600;
}

.frame__bio--alt {
  color: var(--color-toyotaDarkGrey);
}

.frame__link--alt {
  background-color: var(--color-toyotaLightGrey);
  color: var(--color-toyotaDarkGrey);
}

.frame__link--alt:hover {
  background-color: var(--color-toyotaRed);
  color: var(--color-toyotaOffWhite);
}


/* footer links with attribution details */
.attribution {
  display: inline;
  color: var(--color-white);
  font-size: 0.8rem;
}

.attribution--alt {
  color: var(--color-toyotaDarkGrey);
}
  
.attribution > p > a {
  color: var(--color-green); 
}
  
.attribution--alt > p > a {
  color: var(--color-toyotaRed); 
}


/* resonsive for small screens */

@media (max-width: 20rem) {
  .frame {
    width: 90%;
  }

  .frame__bio {
    padding: 0;
  }

}
